extends layout.pug

block content
  .error  
    h2.sorry Sorry
    h4 #{message}
  
    img(src="/static/images/404-error-mad-cat.png" )
    br
    br
    p See below for the scary details
    h4 Status: #{status}
      br
      p Stack: #{stack}

    br
    a.return.button(href='/') Return Home